body {
  background: white;
  font-family: georgia, times, serif;
  font-size: 125%;
  color: #000;
  margin: 10px;
  width: 100%;
}
#wrapper {
    margin: 0 auto;
    max-width: 37em;
    min-width: 27em;
    width: 90%;
}
a,
a:link {
  color: steelBlue;
  text-decoration: none;
}
a:visited {
  color: #9ac;
}
a:hover {
  color: steelBlue;
  text-decoration: underline;
}
a:active {
  color: #aaa;
}
hr {
  height: 1px;
  background-color: black;
  border: 0;
}
p {
  margin-left: 1em;
  padding: 0.5em;
}
ul {
  padding: 1em;
  list-style: none;
  line-height: 150%;
}
li {
  background-color: floralwhite;
  margin-bottom: 1.5em;
  padding: 0.5em;
}